* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Oswald", sans-serif;
}

.section-hero {
  background-image: url("assets/first-background.png");
  background-size: cover;
  min-height: 100vh;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* header & nav */
.header-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 45px;
}
.company-name {
  width: 25%;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 5px;
}

nav ul {
  display: flex;
  list-style-type: none;
  white-space: nowrap;
}
li a {
  margin-right: 16px;
  margin-left: 16px;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 2.5px;
  font-family: "Source Sans Pro", sans-serif;
}
li a:target {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 8px;
}

/* <!--  description section --> */
.main-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}

.logo-img {
  width: 63px;
  height: 63px;
}

.main-content h1 {
  font-size: 48px;
}
.main-header {
  font-weight: 700;
  line-height: 64px;
  margin-top: 20px;
  margin-bottom: 40px;
  color: #ffffff;
  text-align: center;
}

.secondary-header {
  max-width: 450px;
  font-size: 24px;
  font-family: "Source Sans Pro", sans-serif;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 400;
}

/* <!--  description section --> */
.about-section {
  background-color: #eeeeee;
  display: flex;
  min-height: 600px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
}

.main-headline {
  font-size: 40px;
  line-height: 52px;
  color: #464547;
  font-weight: 700;
}

.short-about-us {
  margin-top: 40px;
  margin-bottom: 40px;
  max-width: 450px;
  color: #666666;
  font-size: 24px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

.description-about-us {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 80%;
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  color: #000000;
  line-height: 22px;
  text-align: start;
}

.first-paragraph-col {
  grid-column: 1/6;
}
.second-paragraph-col {
  grid-column: 8/13;
}

.read-more-btn {
  margin-top: 30px;
  background-color: #55c2d8;
  padding: 5px 18px;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  line-height: 26px;
  border-radius: 18px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

.read-more-btn:hover {
  background-color: #449bad;
  transform: scale(1.05);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}
/*  <!-- section  more about us -->*/

.learn-more-section {
  background-image: linear-gradient(
      rgba(140, 79, 42, 0.3),
      rgba(140, 79, 42, 0.3)
    ),
    url("assets/second-bcakground.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px;
}

.learn-more-section h2 {
  font-size: 40px;
}

.learn-more-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #39c2d7;
  border: none;
  cursor: pointer;
  font-size: 55px;
  color: white;
}

.learn-more-btn:hover {
  background-color: #33afc2;
  transform: scale(1.05);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.learn-more-short-description {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin-top: 70px;
  margin-bottom: 20px;
  color: #ffffff;
  max-width: 450px;
  text-align: center;
}

.video_img {
  width: 55px;
  height: 70px;
}
/* -- footer section-- */
.footer {
  padding: 20px 40px;
  background-color: #464547;
  font-family: "Source Sans Pro", sans-serif;
}

/* .footer-container {
  display: flex;
  flex-direction: column;
  max-width: 350px;

  margin: 0px 50px;
  //ძველი
}  */

.footer-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 30px;
  

  margin: 0px 50px;
}

.footer-head {
  display: flex;
  grid-column: 1/3;
  margin: 0px 12px 12px;
  font-size: 18px;
  color: #ffffff;
}

.footer-logo {
  width: 20px;
  height: 20px;
}
.footer-head h4 {
  font-weight: 300;
  letter-spacing: 4px;
  margin: 0px 16px;
}
/* .footer-information {
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  line-height: 20px;
} */

address {
  grid-column: 3/6;
  font-style: normal;
  /* axali */
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  line-height: 20px;
}

.email-anchor {
  grid-column: 3/6;
  grid-row: 2/3;
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
}

.copyright {
  grid-column: 6/9;
  grid-row: 2/3;
  color: rgba(255, 255, 255, 0.4);
}
